<table border ="1">
<tr>
<% @headings.each do |h| %>
	<th><%= h %></th>
<% end %>
<% @data.each do |hash| %>
	<tr> 
	<% @headings.each do |keyname| %>
		<td> <%= hash[keyname.to_sym] %> </td>
	<% end %>
<% end %>