<h2 id="subject" class="drill"><%= @label %> <span class="pointer"></span></h2>

<style type="text/css">
  div#entity ul {
    padding-left: 20px !important;
    padding-bottom: 10px !important;
  }
</style>

<div id="entity">
  <%= render :partial => 'list', :object => @entity %>
</div>

<% content_for :sidebar do %>
  <h3><%= link_to 'Download as RDF', :format => 'rdf', :uri => @uri %></h3>  
  <h3><%= link_to 'Download as JSON', :format => 'json', :uri => @uri %></h3>  
<% end %>
