<h2 id="subject" class="drill"><%= @label %> <span class="pointer"></span></h2>

<% @entity.each do |k,v| %>
  <% if v and v.any? %>
    <% if v.size == 1 %>
      <p>
        <h4><%= k.underscore.humanize %>:</h4>
        <%= v %>
      </p>
    <% else %>
      <%= render :partial => 'table', :locals => {:label => k.underscore.humanize.pluralize}, :object => v %>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  
<% end %>
