<% content_for :sidebar do %>
  <div class="dotrule"></div>
  <div class="side_nav">
    <ul>
      <li><%= link_to_if params[:action] != 'about', "What's This We Know?", :action => 'about' %></li>
      <li><%= link_to_if params[:action] != 'contact', "Contact Us", :action => 'contact' %></li>
    </ul>
  </div>
  <!-- /side_nav -->
  <div class="dotrule"></div>
  <div class="dev_team">
    <img src="/images/dev_team_header.png" alt="Development Team:" />
    <a href="http://www.greenriver.org/"><img src="/images/dev_team_gr.png" alt="GreenRiver.org" /></a>
    <a href="http://www.intellidimension.com/"><img src="/images/dev_team_intellid.png" alt="Intellidimension" /></a>
    <a href="http://www.swaydesign.com/"<img src="/images/dev_team_sway.png" alt="swaydesign" /></a>
    <div class="clearer"></div>
  </div>
  <!-- /dev_team -->
<% end %>
