<h2>Contact Us</h2>
<p class="tagline">Have a question, comment or idea?  Want to get involved with the development of the site? Get in touch!</p>
<h3><%= mail_to 'info@greenriver.org' %></h3>

<%= render :partial => 'sidebar' %>
