<h2>Contact Us</h2>
<p class="tagline">Have a question, comment or idea?  Want to get involved with the development of the site? Get in touch!</p>
<h3><%= mail_to 'info@greenriver.org' %></h3>

<div style="padding-left:120px">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,124,0" width="424" height="500" id="TwitterWidget" align="middle">
  <param name="allowScriptAccess" value="always" />
  <param name="allowFullScreen" value="false" />
  <param name="movie" value="http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#000000" />
  <param name="FlashVars" value="userID=64075444&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml">
  <embed src="http://static.twitter.com/flash/widgets/profile/TwitterWidget.swf" quality="high" bgcolor="#000000" width="424" height="350" name="TwitterWidget" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="userID=64075444&styleURL=http://static.twitter.com/flash/widgets/profile/smooth.xml"/>
</object>
</div>

<%= render :partial => 'sidebar' %>
