<li>
  <span class="bullet"></span>
  <%= render_sentence(factoid, @location) %>
  <% if factoid.radius.to_f == 0 %>
	  <span class="subtext">(within <%= @location.radius %> mi.)</span>
  <% elsif factoid.radius.to_f == 100 %>	  
  	  <span class="subtext">(in this county)</span>
  <% else factoid.radius.to_f == 50 %>	  
  	  <span class="subtext">(in this town)</span>
  <% end %>  
</li>
