<li>
  <span class="bullet"></span>
  <%= render_sentence(factoid, @location) %> 
  <% unless factoid.sentence =~ /<nosubtext\/?>/ %>
    <%= subtext(factoid, @location) %>
  <% end %>
  <% if text = render_sentence(factoid, @location, :as_text => true).sub(/[\.\s]+$/,'') and text.size < 100 %>
    <%= link_to 'tweet this', 
        "http://twitter.com/home?status=#{text} " +
        "in #{@location} #{location_path(@location)}", 
        :title => 'Post to Twitter', :class => 'tweet-this' %>
  <% end %>
</li>
