<h3>Senators</h3>

<ul>
  <% @location.senators.each do |r| %>
    <li><%= link_to "#{r["firstname"]} #{r["lastname"]} (#{r["party"]})", r["website"] %></li>
  <% end %>
</ul>

<h3>Representatives</h3>

<ul>
  <% @location.reps.each do |r| %>
    <li><%= link_to "#{r["firstname"]} #{r["lastname"]} (#{r["party"]})", r["website"] %></li>
  <% end %>
</ul>
