<h2 id="subject"><%= link_to @location, location_path(@location) %> <span class="pointer"></span></h2>

<div class="properties">
  <div class="subwrap">
    <ul>
      <%= render :partial => 'factoid', :collection => @factoids %>
    </ul>
  </div>
    <div class="source">
      <p><b>Tip:</b> Click on any of the highlighted items above to explore the underlying data.</p>
      <p><b>Sources:</b> <%= @factoids.map(&:source).compact.uniq.join ' <span class="bull">&bull;</span> ' %></p>
    </div>
</div>

<% content_for :sparql do %>
  <p><b>We Know More:</b>
    This is just some of what is known about <%=link_to h(@location), location_path(@location) %>.  We are 
    actively loading more data. We also plan to allow the community to contribute &amp; select the queries that generate
    these statistics.
  </p>
<% end %>
