<h2 id="subject"><%= link_to @location, location_path(@location) %> <span class="pointer"></span></h2>

<div class="properties">
  <div class="subwrap">
    <ul>
      <%= render :partial => 'factoid', :collection => Factoid.all.select{|f| f.has_data?(@location)} %>
    </ul>
  </div>
  <%#= render :partial => 'legislators' %>
</div>
