<h2 id="subject"><%= @location %> <span class="pointer"></span></h2>

<div class="properties">
  <div class="subwrap">
    <ul>
      <%= render :partial => 'factoid', :collection => Factoid.all %>
    </ul>
  </div>
</div>

