<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>this we know<%= @zip and " about #{@zip}" %></title>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag 'prototype' %>
  </head>

  <body class="generic">
    <div id="wrapper">
      <div class="subwrap">
        <div id="header">
          <div class="subwrap">
            <h1><a href="/">This We Know:</a></h1>
            <form action="">
              <label for="primary_search" class="hide">Search:</label>
              <span id="primary_search_wrap"><input id="primary_search" type="text" size="30" /></span>
              <input type="image" src="images/search_button.png" alt="Search" class="button" />
            </form>

            <a id="whats_this" href="">What's This We Know?</a>
          </div>
        </div><!-- /header -->
        <div id="content">
          <div class="subwrap">
            <%= yield %>
          </div>
        </div><!-- /content -->
      </div>
    </div><!-- /wrapper -->

    <div id="footer">
      <div class="subwrap">
        <ul class="nav">
          <li class="first"><a href="">About Us</a></li>
          <li><a href="">Terms of Service</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
        <p id="copyright">Copyright &copy; 2009 This We Know</p>
        <div class="clearer"></div>
      </div>
    </div>

  </body>
</html>
